<h3>Find me a gift for a...</h3>

<form id="select" method="post" action="/products/results">
<ul id ="category-slider" class="example-orbit-content" data-orbit data-options="slide_number:false;timer:false;next_on_click:false">
  <li data-orbit-slide="categories1">
      <div id="itemOne" class="content">
        <% @categories1.each do |category|  %>
          
          <div class="large-5 small-6 columns" id="category-panel">
            <a class="category-image"><img src="<%= category.img_filepath %>"></a>
            <label for="<%= category.name %>">
            <h4 id="category-name"><%= category.name %>&nbsp;<input id="<%= category.name %>" type="checkbox" style="display:none" name="<%= category.name %>" value="<%= category.id %>"/></h4>
            </label>
          </div>
          
        <% end %>
      </div>

    </li>
    
    <li data-orbit-slide="categories2">
      <div id="itemTwo" class="content">
        <% @categories2.each do |category|  %>
          <div class="large-5 small-6 columns" id="category-panel">
            <a href="/products?category=<%= category.name %>" class="category-image"><img src="<%= category.img_filepath %>"></a>
            <label for="<%= category.name %>">
            <h4 id="category-name"><%= category.name %>&nbsp;<input id="hidden" type="checkbox" style="display:none" name="<%= category.name %>" value="<%= category.id %>" /></h4>
            </label>
          </div>
        <% end %>
      </div>
    </li>
    
    <li data-orbit-slide="categories3">
      <div id="itemThree" class="content">
        <% @categories3.each do |category|  %>
          <div class="large-5 small-6 columns" id="category-panel">
            <a href="/products?category=<%= category.name %>" class="category-image"><img src="<%= category.img_filepath %>"></a>
            <label for="<%= category.name %>">
            <h4 id="category-name"><%= category.name %>&nbsp;<input id="hidden" type="checkbox" style="display:none" name="<%= category.name %>" value="<%= category.id %>" /></h4>
            </label>
          </div>
        <% end %>
      </div>
    </li>

    <li data-orbit-slide="categories4">
      <div id="itemFour" class="content">
        <% @categories4.each do |category|  %>
          <div class="large-5 small-6 columns" id="category-panel">
            <a href="/products?category=<%= category.name %>" class="category-image"><img src="<%= category.img_filepath %>"></a>
            <label for="<%= category.name %>">
            <h4 id="category-name"><%= category.name %>&nbsp;<input id="hidden" type="checkbox" style="display:none" name="<%= category.name %>" value="<%= category.id %>" /></h4>
            </label>
          </div>
        <% end %>
      </div>
    </li>

    <li data-orbit-slide="categories5">
      <div id="itemFive" class="content">
        <% @categories5.each do |category|  %>
          <div class="large-5 small-6 columns" id="category-panel">
            <a href="/products?category=<%= category.name %>" class="category-image"><img src="<%= category.img_filepath %>"></a>
            <label for="<%= category.name %>">
            <h4 id="category-name"><%= category.name %>&nbsp;<input id="hidden" type="checkbox" style="display:none" name="<%= category.name %>" value="<%= category.id %>" /></h4>
            </label>
          </div>
        <% end %>
      </div>
    </li>

    <li data-orbit-slide="categories6">
      <div id="itemSix" class="content">
        <% @categories6.each do |category|  %>
          <div class="large-5 small-6 columns" id="category-panel">
            <a href="/products?category=<%= category.name %>" class="category-image"><img src="<%= category.img_filepath %>"></a>
            <label for="<%= category.name %>">
            <h4 id="category-name"><%= category.name %>&nbsp;<input id="hidden" type="checkbox" style="display:none" name="<%= category.name %>" value="<%= category.id %>" /></h4>
            </label>
          </div>
        <% end %>
      </div>
    </li>
</ul>
<button id="show-me" type="submit">Find gifts!</button>
