<!DOCTYPE html> 
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/../../foundation/css/normalize.css">
  <!--
    application.css is where you put your styles

  -->

  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/../../foundation/css/foundation.css">

  <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 96x96 pixels in size. -->
  <link rel="icon" href="/img/layout/favicon.png">

  <style>
  .row{
    max-width: 75rem;
  }
  </style>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/../../foundation/js/foundation.min.js"></script>

  <title>Gift Genie v1.0</title>
</head>

<body>
<!-- <ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><a href="#">Features</a></li>
  <li class="unavailable"><a href="#">Gene Splicing</a></li>
  <li class="current"><a href="#">Cloning</a></li>
</ul> -->


  <!-- Foundation Framework -->

  <div class="row">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-12 columns"> 
            <nav class="top-bar" data-topbar>
              <ul class="title-area">             
                <li class="name">
                  <h1>
                    <a href="/">
                      <img src="/img/layout/logo-nav.png">
                    </a>
                  </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
              </ul>    

              <section class="top-bar-section">               
                <ul class="right">
                  <li class="divider"></li> 

                <% if !@logged_in %>
                  <form method="post" action="/login">
                    <div class="small-9 columns">
                      <input type="text" id="username" placeholder="username" name="email" value="<%= @user.email %>">
                      <input type="password" id="password" placeholder="password" name="password" value="<%= @user.password %>">
                      <input class="button" id="login-button" type="submit" value="Login" >
                    </div>
                  </form>


                  <div id="signup">
                    <a href="/users/new">Sign up</a>
                  </div>
                <% else %>
                <div class="profile-info">
                  <p>
                    <a href="/users/<%= @user.id%>" id="myprofile">My profile</a>
                    <br>
                    <%= @user.email %>
                    <br>
                    <a href="/logout">Logout</a>
                  </p>
                </div>
                
          <% end %>

                </ul>
              </section>
            </nav>
          </div>
        </div>

        <div class="row">
          <div class="large-4 small-12 columns">
            <img src="/img/layout/logo-main.png">   
            <div class="hide-for-small panel">
            <ul class="side-nav">
              <form method="get" action="/products">
                <input type="text" name="category" >
                <input class="button" id="search-button"type="submit" value="Search">
              </form>
              <li class="divider"></li>
              <li class="active"><a href="#">Popular Wishes</a></li>
              <li><a href="#">My Wishes</a></li>
              <li class="divider"></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
              <h3>Poof!</h3>
              <h5 class="subheader">
              </h5>
            </div>
   
            <a href="#">
            <div class="panel callout radius">
              <h6>Gift Genie v1.0</h6>
            </div>
            </a>
          </div>
   
        <div class="large-8 columns">
            <div class="row">

 

 <%= yield %>



      <footer class="row">
        <div class="large-12 columns"><hr/>
          <div class="row">
            <div class="large-12 columns" id="copyright">
              <p>© Copyright Lighthouse Labs September Cohort Project Team 2</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>


  <script>
    $(document).foundation();
  </script>
</body>
</html>
