<!DOCTYPE html> 
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/../../foundation/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/../../foundation/css/foundation.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/../../foundation/js/foundation.min.js"></script>

  <title>Gift Genie v1.0</title>
</head>
<body>


<h1><a href="/">Gift Genie</a></h1>

<% if !@logged_in %>
<h2>Login</h2>
<form method="post" action="/login">
  <div>
    <label>Email:</label>
    <input type="text" name="email" value="<%= @user.email %>">
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" value="<%= @user.password %>">
  </div>

  <div>
    <input type="submit" value="Login" >
  </div>
</form>
<div>
<a href="/users/new">Don't have an account?Sign up here... It's FREE!</a>
</div>
<% else %>
<p>
<a href="/users/<%= @user.id%>">My profile</a>
</p>
<p>
Hello <%= @user.email %> : <a href="/logout">Logout</a>
</p>
<% end %>
<form method="get" action="/products">
    <input type="text" name="category" >
    <input type="submit" value="Search">
</form>


<!-- Foundation Framework -->

<div class="row">
    <div class="large-12 columns">
 
      <div class="row">
        <div class="large-12 columns">
 
          <nav class="top-bar" data-topbar>
            <ul class="title-area">
               
              <li class="name">
                <h1>
                  <a href="/">
                    <img src="/img/layout/logo-nav.png">
                  </a>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>
         
            <section class="top-bar-section">
               
              <ul class="right">
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">Main Item 1</a>
                  <ul class="dropdown">
                    <li><label>Section Name</label></li>
                    <li class="has-dropdown">
                      <a href="#" class="">Has Dropdown, Level 1</a>
                      <ul class="dropdown">
                        <li><a href="#">Dropdown Options</a></li>
                        <li><a href="#">Dropdown Options</a></li>
                        <li><a href="#">Level 2</a></li>
                        <li><a href="#">Subdropdown Option</a></li>
                        <li><a href="#">Subdropdown Option</a></li>
                        <li><a href="#">Subdropdown Option</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li class="divider"></li>
                    <li><label>Section Name</label></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li class="divider"></li>
                    <li><a href="#">See all →</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li><a href="#">Main Item 2</a></li>
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">Main Item 3</a>
                  <ul class="dropdown">
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li class="divider"></li>
                    <li><a href="#">See all →</a></li>
                  </ul>
                </li>
              </ul>
            </section>
          </nav>
           
        </div>
      </div>

      <div class="row">

        <div class="large-4 small-12 columns">
 
          <img src="/img/layout/logo-main.png">
 
          <div class="hide-for-small panel">

          <ul class="side-nav">
            <li class="active"><a href="#">Popular Wishes</a></li>
            <li><a href="#">My Wishes</a></li>
            <li class="divider"></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>

            <h3>Poof!</h3>
            <h5 class="subheader">
            </h5>
          </div>
 
          <a href="#">
          <div class="panel callout radius">
            <h6>Bonus space to use</h6>
          </div>
          </a>
 
        </div>
    
 
  <!--       <div class="large-8 columns">
          <div class="row">
 
            <div class="large-5 small-6 columns">
              <img src="http://placehold.it/1000x1000&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="large-5 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="large-5 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="large-5 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="large-5 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="large-5 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
          </div>
 
 
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <div class="row">
 
                  <div class="large-2 small-6 columns">
                    <img src="http://placehold.it/300x300&text=Site Owner">
                  </div>
 
                  <div class="large-10 small-6 columns">
                    <strong>This Site Is Managed By<hr/></strong>
 
                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>
 
                </div>
              </div>
            </div>
 
          </div>
        </div>
      </div>
 

      <footer class="row">
        <div class="large-12 columns"><hr/>
          <div class="row">
 
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
 
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
 
          </div>
        </div>
      </footer>

    </div>
  </div>
 -->





  <%= yield %>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
