<a href="/products"><h1>Products</h1></a>


<form method="get" action="/products">
  <div>
    <label>Search Categories:</label>
    <input type="text" name="category" >
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

<% if @products %>
	<% @products.each do |product| %>
		<div class="product-container">
			<a href="<%= product.url%>"><img src="<%= product.img_filepath%> " class="product-preview"/></a>
			<p><h4><%= product.name %></h4></p>
			<p>$<%= product.price %></p>
			<p id="description"><%= product.description %></p>

				<a href="" class="round-button" id="favorite-button">fav</a><a href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=<%= product.url %>&redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer" class="round-button" id="facebook-button">fb</a><a href="" class="round-button" id="similar-button">share</a><a href="mailto:someone@somewhere.com?subject=Gift Genie wants you to check this out: <%= product.name %> &body=Visit the link for more information: <%= product.url %>" class="round-button" id="email-button">email</a>
		</div>
	<% end %>
<% end %>
