<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li class="unavailable"><a href="#">Users</a></li>
  <li class="current"><a href="#">Add Profile</a></li>
</ul>

<h1>Create account</h1>
<form method="post" action="/users/new">
  <div>
    <label>Email:<span class="asterisk">*</span></label>
    <input type="text" name="email" value="<%= @user.email %>">
  </div>
  <div>
    <label>Password:<span class="asterisk">*</span></label>
    <input type="password" name="password" value="<%= @user.password %>">
  </div>
  <div>
  <label>Name:</label>
    <input type="text" name="name" value="<%= @user.name%>">
  </div>
  <div>
    <label>Birthday:</label>
    <input type="date" name="birthdate" value="<%= @user.birthdate %>">
  </div>
  
  <div>
    <label>Male:</label>
    <input type="radio" name="male" value="<%= @user.male %>">
    <br>
    <label>Female:</label>
    <input type="radio" name="female" value="<%= @user.female %>">
  </div>
    <label>Shipping Address:</label>
    <input type="text" name="shipping_address" value="<%= @user.shipping_address %>">
  </div>
  <div>
    <label>Phone:</label>
    <input type="phone" name="phone" value="<%= @user.phone %>">
  </div>
  <div>
  <br>
    <input class ="button" type="submit" value="Submit" >
  </div>

</form>