<h1> Edit user profile </h1>

<div class="cover_photo">
  <img src="/user_img/cover_img/winding_road.jpg">
    <div class="avatar">
      <img src="/user_img/female2.jpg"/>
    </div>
</div>

<div class="user_info">
  <h2> Personal Information </h2>
    <form method="post" action="/users/<%= @user.id%>/edit">
      <div>
        <label>Name:</label> 
        <input type="text" name="name" value="<%= @user.name %>">
      </div>
      <div>
        <label>E-mail:</label>
        <input type="text" name="email" value="<%= @user.email %>">
      </div>
      <div>
        <label>Date of birth:</label>
        <input type="text" name="birthdate" value="<%= @user.birthdate %>">
      </div>
      <div>
        <input type="submit" value="Update Personal Details">
      </div>
  </form>
</div>

<div class="change_password">
  <h2> Change Password </h2>
  <form method="post" action="/users/<%= @user.id%>/changepassword">
    <div>
      <label>Enter your old password:</label> 
      <input type="password" name="old_password" value="<% @user.password%>">
    </div>
    <div>
      <label>Enter your new password:</label> 
      <input type="password" name="new_password" value="<% @user.password %>">
    </div>
      <input type="submit" value="Change Password">
  </form>
</div>

<div class="product_info">
  <h2> Edit Products </h2>

<form class="new_product" method="get" action="/products/new">
<input type="submit" value="Add your own!">
</form>
  <% @user.favourites.each do |fave|%>
    <% product = Product.find(fave.product_id) %>
      <div class='product-listview'>
      <table>
        <tr>
        <td><img src="<%= product.img_filepath%>"/></td>
          <td ><p><%= product.name %></p>
          <p id="description"><%= product.description %></p>
          <h3>$<%= product.price %></h3></td>
          <td><form method="post" action="/products/remove_from_favourites">
          <input type="submit" value="Delete Product">
          </form></td>
      </div>
  <% end %>
</div> 
