<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li class="unavailable"><a href="#">Users</a></li>
  <li class="current"><a href="#">Profile</a></li>
</ul>


<div class="cover_photo">
  <img src="/user_img/cover_img/plant-in-desert-cover.jpg">
</div>
<div class="avatar">
  <img src="<%= @user.avatar %>" id="profile-pic"/>
</div>

<h1><%=@user.name %>'s WishList</h1>

<div class="filter_bar">
  <label>Order By:</label>
  <select onchange="this.options[this.selectedIndex].value; window.location = this.options[this.selectedIndex].value;">
    <option value="select">Select one...</option>
    <option value="?orderby=price">Price (Lowest to Highest)</option>
    <option value="?orderby=newest">Most Recently Added</option>
    <option value="?orderby=oldest">Wanted the Longest</option>
  </select>
</div>


<div class="product_info">
  <% @favourites.each do |fave|%>
    <% product = Product.find(fave.product_id) %>
      <div class='product-listview'>
      <table>
        <tr>
        <td><img src="<%= product.img_filepath%>"/></td>
          <td ><p><%= product.name %></p>
          <p id="description"><%= product.description %></p>
          <h3>$<%= product.price %></h3></td>
          <td><button id="get_button" onclick="this.disabled = 'disabled'; myFunction()">I'm on it!</button></td>
          </table>
      </div>
  <% end %>
</div>

<script>
function myFunction() {
    document.getElementById("get_button").innerHTML = "Claimed!";
}
</script>

