<div class="cover_photo">
  <img src="/user_img/cover_img/winding_road.jpg"> <%#= @user.cover_photo %>
    <div class="avatar">
      <img src="<%= @user.avatar %>"/>
    </div>
</div>

<h1><%=@user.name %>'s WishList</h1>

<div class="filter_bar">
  <label>Order By:</label>
  <select onchange="this.options[this.selectedIndex].value; window.location = this.options[this.selectedIndex].value;">
    <option value="select">Select one...</option>
    <option value="?orderby=price">Price (Lowest to Highest)</option>
    <option value="?orderby=newest">Most Recently Added</option>
    <option value="?orderby=oldest">Wanted the Longest</option>
</select>
</div>

<div class="product_info">
  <% @favourites.each do |fave|%>
    <% product = Product.find(fave.product_id) %>
      <div class='product-listview'>
      <table>
        <tr>
        <td><img src="<%= product.img_filepath%>"/></td>
          <td ><p><%= product.name %></p>
          <p id="description"><%= product.description %></p>
          <h3>$<%= product.price %></h3></td>
          <td class="buttoncontainer"><button id="get_button">I'm on it!</button></td>
          </table>
      </div>
  <% end %>
</div>