<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li class="unavailable"><a href="#">Users</a></li>
  <li class="current"><a href="#">My Profile</a></li>
</ul>

<% @user = User.find(3) %>
<% if true %>

<div class="cover_photo">
  <img src="@user/user_img/cover_img/winding_road.jpg"> <%#= @user.cover_photo %>
    <div class="avatar">
      <img src="/user_img/female2.jpg"/>
      <%#= @user.avatar %>
    </div>
</div>

<h1><%=@user.name %>'s WishList</h1>

<div class="filter_bar">
  <label>Filter By:</label>
  <select>
    <option value="<% :price %>">Price</option>
    <option value="<% :created_at %>">Newest First</option>
    <option value="<% :created_at %>">Oldest First</option>
</select>
</div>

<div class="product_info">
  <% @user.favourites.each do |fave|%>
    <% product = Product.find(fave.product_id) %>
      <div class='product-listview'>
      <table>
        <tr>
        <td><img src="<%= product.img_filepath%>"/></td>
          <td ><p><%= product.name %></p>
          <p id="description"><%= product.description %></p>
          <h3>$<%= product.price %></h3></td>
          <td><a href="#"><div id="get_button">I'm on it!</div></a></td>
      </div>
  <% end %>
</div>

<!--IF SESSION[user_id] = @user.id, page will look like this VVVV -->
<% else %>

<div class="cover_photo">
  <img src="/user_img/cover_img/winding_road.jpg">
    <div class="avatar">
      <img src="/user_img/female2.jpg"/>
    </div>
</div>

<h1>My WishList</h1>
<h4><a href="/users/<%= @user.id%>/edit">Edit my profile</a></h4>
<p>
<a href="/logout">Logout</a>
</p>

<div class="filter_bar">
  <label>Filter By:</label>
  <select>
    <option value="X">Price</option>
    <option value="Y">Newest First</option>
    <option value="Z">Oldest First</option>
</select>
</div>

<div class="product_info">
  <% @user.favourites.each do |fave|%>
    <% product = Product.find(fave.product_id) %>
      <div class='product-listview'>
      <table>
        <tr>
        <td><img src="<%= product.img_filepath%>"/></td>
          <td ><p><%= product.name %></p>
          <p id="description"><%= product.description %></p>
          <h3>$<%= product.price %></h3></td>
          <td><form method="post" action="/products/remove_from_favourites">
          <input type="submit" value="Delete Product">
          </form></td>
      </div>
  <% end %>
</div>

<% end %>




